[2018-09-12 17:34] indra452 opened #24 "NullPointerException In Purchases.onReceiveSkuDetails"
**Library version** : com.revenuecat.purchases:purchases:1.3.1

**Issue :**

[code]

In BillingWrapper class, line 115,

`     listener.onReceiveSkuDetails(skuDetailsList);`

skuDetailsList is null sometimes and causes the crash

[2018-10-18 00:47] vegaro opened #29 "Library targetting older SDK"
Thanks for using Purchases. Before you create an issue, please please include the library version number, including the minor and patch version, in the issue text.

The library should target Android SDK version 28

[2018-11-26 19:53] jeiting opened #43 "Add Support for Subscription Restoration"
https://developer.android.com/google/play/billing/billing_subscriptions#restore

[2018-12-17 22:42] vegaro commented on #24
Closing since  https://github.com/RevenueCat/purchases-android/commit/2d2b7d2434a2c0011628061ff2b2eda131b094a8 should have fix this

[2018-12-17 22:42] #24 closed

[2019-01-15 19:48] #29 closed

[2019-01-15 19:49] vegaro commented on #29
https://github.com/RevenueCat/purchases-android/pull/48/files

[2019-02-04 22:10] mzsanford opened #53 "Crash during startup: kotlin.KotlinNullPointerException in onBillingSetupFinished"
We just launched a version of our app with RevenueCat support in a beta test, with only a subset of users with access to the screens that will enable real purchases. Our code initializs RevenueCat for all users and only hides the screens in question. We immediately started to see crash reports for users not in the beta test:

[code]

From https://github.com/RevenueCat/purchases-android/blob/1.4.2/

[2019-02-04 23:39] vegaro commented on #53
Hey @mzsanford. Can you please share how you are initializing the Purchases SDK? I have seen a similar crash when initializing the Purchases SDK more than once by mistake. Doing something like this replicates the issue:

[code]

Setting sharedInstance a second time before the billing client has finished connecting will nullify the billingClient (without ending the connection) and therefore when `o

[2019-02-05 00:34] mzsanford commented on #53
I also noticed the `close()` call when resetting in https://github.com/RevenueCat/purchases-android/pull/44 and thought that may be the case. I refactored to specifically handle double-setting the sharedInstance and we'll see if it fixes it. Given where we init I didn't expect that to happen but there may be a corner case that would allow it.

We don't have any existing use of BillingClient, we're

[2019-02-13 18:50] mzsanford commented on #53
I found out why our init was called twice and guarded against it and the crash has been resolved. I'm working on a followup refactor to move to 2.0.0. Thanks for the help on this.

[2019-02-13 18:50] #53 closed

[2019-03-02 18:41] aldemirenes opened #55 "Returning 'Purchase' object instead of sku after purchase is completed"
I think it is much more better to return purchase object instead of just sku in [here](https://github.com/RevenueCat/purchases-android/blob/2.0.1/purchases/src/main/kotlin/com/revenuecat/purchases/Purchases.kt#L634). Reason is that other infos e.g. signature, originalJson can be needed.

[2019-03-05 18:02] rkotzy commented on #55
Fixed here: https://github.com/RevenueCat/purchases-android/pull/57

[2019-03-05 18:02] #55 closed

[2019-03-29 17:23] rkotzy commented on #43
**Update:** We are still working on fully testing a solution for this so our recommendation for now is to opt out by going to:

```Store presence > In-app products > Subscription settings and unchecking "Allow users to restore subscriptions in Google Play"```

If you have your own restore functionality implemented through the SDK then things should work if you forget to opt-out but we want to do s

[2019-04-12 12:56] Toffor opened #61 "In-app products title and description not updated"
Sku title text and description text are not updated when play store values updated. Can it be because of cache ?

[2019-05-08 08:44] joluet opened #67 "getIntroductoryPriceAmountMicros() should return Long"
I think `getIntroductoryPriceAmountMicros()` in `SkuDetails` should return a `Long` value instead of `String`.

Library version: 2.1.2

[2019-05-08 17:20] vegaro commented on #67
Thanks for reporting! Unfortunately, `SkuDetails` is part of [BillingClient](https://developer.android.com/reference/com/android/billingclient/api/SkuDetails.html#getIntroductoryPriceAmountMicros()) and we don't have control over it since it's a Google class.

[2019-05-08 17:20] #67 closed

[2019-05-09 03:48] vegaro commented on #67
https://developer.android.com/google/play/billing/billing_library_releases_notes#bug_fixes Looks like Google has already fixed this in BillingClient 2.0. Whenever Purchases gets updated to the new version `getIntroductoryPriceAmountMicros` will start returning a long

[2019-05-15 15:30] joluet opened #68 "Cache is cleared on launch if the user is offline"
`Purchases.configure()` invokes `Purchases.identify()` which in turn invokes `updateCaches()`. This will try to update the cache by calling `fetchAndCachePurchaserInfo()`. If the user is offline this will result in a `PurchasesError` and clear the cache.

This is currently a huge problem for me as it basically breaks the purchase check when the user is offline.

[2019-05-15 15:36] jeiting commented on #68
Hey Joluet, what version of the SDK is this?

[2019-05-15 16:01] joluet commented on #68
Sorry it's version `2.1.2`. I just tried to implement a workaround and discovered that the cache will also be cleared on every call to `getPurchaserInfo()` while the user is offline.

[2019-05-15 17:13] joluet commented on #68
@jeiting I don't think an error should clear the cache here 🤔:
https://github.com/RevenueCat/purchases-android/blob/99c8aa5b9e4b97c933078c78284a6796aedd4827/purchases/src/main/kotlin/com/revenuecat/purchases/Purchases.kt#L627-L641

[2019-05-15 17:37] jeiting commented on #68
Yeah, I think you might be right. @vegaro is looking into it right now.

[2019-05-15 17:38] joluet commented on #68
OK thank you 👍

[2019-05-15 21:39] #68 closed

[2019-06-26 14:11] RajeshKumDev commented on #43
Hi,

Is **restore purchase** added in Revenue Cat Android SDK?
If yes, can someone provide a documentation link or code snippet.

Thanks.

[2019-06-26 16:35] rkotzy commented on #43
@RajeshKumDev you can do a restore from within the SDK with the `restorePurchases` method. There is a snippet in the sample app here:
https://github.com/RevenueCat/purchases-android/blob/3fd3180804f9010fcfe351077df2492bd075e45f/purchases-sample/src/main/java/com/revenuecat/sample/CatsActivity.kt#L25

[2019-07-13 22:32] Flaque opened #75 ""enablePendingPurchases" on BillingClientBuilder"
_Sorry to bother, but came across this bug, I fixed it and I'm leaving it here with the fix so if someone's coming across this from Google they'll find it._

On the newest version of purchases-android, `com.revenuecat.purchases:purchases:2.2.2`, I'm encountering an error on startup that looks like this:

[code]

[2019-07-13 22:34] Flaque commented on #75
This was happening because I was forcing a newer version of `com.android.billingclient:billing` in my `build.gradle`.

[code]

I changed the version to [the older version that purchases-android actually uses](https://github.com/RevenueCat/purchases-android/blob/master/purchases/build.gradle#L28) and that fixed it.

[code]

[2019-07-13 22:34] #75 closed

[2019-08-15 15:38] yong0726 opened #80 "Crash at com.revenuecat.purchases.Purchases.updatePendingPurchaseQueue$purchases_release (Purchases.kt:872)"
Hi,

please have a look the below crash.

Version: com.revenuecat.purchases:purchases:2.3.1

Fatal Exception: java.util.concurrent.RejectedExecutionException
Task com.revenuecat.purchases.Purchases$updatePendingPurchaseQueue$1@bbd4877 rejected from java.util.concurrent.ThreadPoolExecutor@eb64ce4[Terminated, pool size = 0, active threads = 0, queued tasks = 0, completed tasks = 11]
com.revenuecat.p

[2019-08-16 00:48] tonycosentini commented on #80
Hey @yong0726,

Which release are you seeing this in? If it's 2.3.0, can you try and see if it reproduces in 2.3.1?

[2019-08-16 03:02] yong0726 commented on #80
The version is 2.3.1. it occurs with high frequency in the production.

[2019-08-18 04:02] hvaddi9 opened #82 "Delayed payments Support"
RevenueCat Version: 2.3.1

All my customer in-app purchases are delayed but successful payments. Hence the purchase perks are all not reflecting on the app. Also, since the purchases are not acknowledged they get refunded after a few days. So I'm manually using billing APIs to acknowledge them with purchase tokens and provide the perks to users from the backend.

Google is even providing two extra

[2019-08-19 20:09] #80 closed

[2019-08-19 21:04] yong0726 commented on #80
Hi @vegaro

May I know when this fix will be released?

[2019-08-20 14:06] vegaro commented on #80
@yong0726 It will be released this week

[2019-08-27 05:29] thesultanster opened #83 "Null Crash: There is no singleton instance. Make sure you configure Purchases before trying to get the default instance."
Version 2.4.0

`Caused by: kotlin.UninitializedPropertyAccessException: There is no singleton instance. Make sure you configure Purchases before trying to get the default instance.

 com.revenuecat.purchases.Purchases$Companion.getSharedInstance(Purchases.kt:928)
 com.dance.bachata.ui.features.subscriber_upsell.SubscriberUpsellPresenter$initialize$currentUserDisposable$1.accept(SubscriberUpsellPre

[2019-08-27 05:42] #83 closed, assigned to nobody

[2019-10-09 15:55] realsoc opened #85 "Cannot set prorationMode when upgrading a subscription"
RevenueCat allows to upgrade from an old subscription to a new one, providing the old sku and the new sku details.
But no way to set the [proration mode](https://developer.android.com/google/play/billing/billing_subscriptions#prorate) applied when the subscription changes.
**Version : 2.4.1**

[2019-11-05 16:30] Sese-Schneider opened #89 "Upgrade com.android.billingclient:billing to 2.x and enable support for pending purchases"
Please update the used billing client from `1.2.2` to `2.x` to keep the library up to date and compatible with other libraries and support pending purchases.

Downgrading as in issue #75 won't work because our app relies on other libraries in flutter.

I'm using version `2.4.0` via [purchases-flutter](https://github.com/RevenueCat/purchases-flutter)

[2019-11-05 16:38] vegaro commented on #89
Hi @Sese-Schneider. Thanks for reporting this. We are finalizing some tests on a branch that has the update https://github.com/RevenueCat/purchases-android/pull/88 before we release it to the public.

The Flutter update should be released in the next few weeks. I will keep this opened until the update is released.

[2019-12-10 17:40] Sese-Schneider commented on #89
@vegaro are there any recent updates?

[2019-12-10 17:42] vegaro commented on #43
Closing since this is supported

[2019-12-10 17:42] #43 closed

[2019-12-10 17:43] vegaro commented on #85
This has been added in 3.x.x

[2019-12-10 17:43] #85 closed

[2019-12-10 17:44] vegaro commented on #89
Sorry, I forgot to close this. This has been added in 3.x.x and it's also available in Flutter via version 1.x.x.

Thanks!

[2019-12-10 17:44] #89 closed

[2019-12-10 17:44] vegaro commented on #82
Hi, there should be support for this in the latest 3.x.x version. Thanks for reporting!

[2019-12-10 17:44] #82 closed

[2020-01-21 17:23] Thib75 opened #98 "Service not registered issue with AdvertisingConnection"
Hi, I have this issue with a lot of my users. It is maybe related to the lifecycle of the app? Thanks for your help :)

## The line of code causing the issue in the app onCreate :
[code]

## version :

`com.revenuecat.purchases:purchases:2.4.2`

## Crash report :

[2020-01-27 09:38] Francescu commented on #98
Any update? It's our #1 crash 😰

[2020-01-29 23:16] vegaro commented on #98
Thanks for reporting. I have a fix for this ready. It will go out in the next release.

Sorry about that!

[2020-02-03 19:55] vegaro commented on #98
The fix has been released. Please let us know if you are still seeing the same issue. Thanks!!

[2020-02-19 13:38] Thib75 commented on #98
Hi @vegaro and thanks for your fix :)

[2020-02-21 00:25] vegaro commented on #98
Thanks for updating back. Did the numbers drop at all? I am taking a look at it again.

[2020-02-24 10:01] Thib75 commented on #98
Hi @vegaro the numbers of crashes seems to have drop, but it is difficult to know the exact number, as we didn't released to 100% of our users :)

[2020-02-26 10:49] Francescu commented on #98
@vegaro Should this issue be reopened?

[2020-02-26 19:03] vegaro commented on #98
Yes, sorry my bad. We are finishing a new feature for RevenueCat and we will include another fix for this in the next release.

I am still trying to wrap my head around how https://github.com/RevenueCat/purchases-android/blob/master/purchases/src/main/java/com/revenuecat/purchases/util/AdvertisingIdClient.kt#L48 can be hit without binding the service.

For reference, I am going to link this here h

[2020-02-29 19:29] AndrazP opened #114 "Purchases: NoSuchElementException"
Library version: **3.0.6**

**Stack trace**:
`Fatal Exception: java.util.NoSuchElementException: Collection contains no element matching the predicate.
       at com.revenuecat.purchases.Purchases$postPurchases$$inlined$forEach$lambda$1.invoke(Purchases.java:1324)
       at com.revenuecat.purchases.Purchases$postPurchases$$inlined$forEach$lambda$1.invoke(Purchases.java:49)
       at com.revenuecat

[2020-03-02 22:05] vegaro commented on #114
I have identified the issue and I am working on a fix. Will update here when the fix is released

[2020-03-03 23:01] #114 closed

[2020-03-04 22:13] vegaro commented on #114
@AndrazP Just released 3.0.7 that should fix this

[2020-03-05 09:14] AndrazP commented on #114
Thank you! We will update it in our next app release.

[2020-03-10 13:17] Thib75 commented on #98
Hi @vegaro, any update regarding this issue? 😰

[2020-03-10 19:25] vegaro commented on #98
Not yet, but planning on releasing a fix this week for it

[2020-03-11 00:08] vegaro commented on #98
@Thib75 @Francescu are you already including Play Services Ads in your app? I am thinking about changing the way we automatically collect the Google Advertising Id and use the officially provided library included in the Play Services Ads instead of the way we are doing it right now (which is clearly giving issues)

[2020-03-11 10:29] Thib75 commented on #98
Hi @vegaro, no we don't use Play Services Ads in our app :)

[2020-03-13 21:25] vegaro commented on #98
Sorry it got automatically closed when merging https://github.com/RevenueCat/purchases-android/pull/124

I hope that fixes it. I haven't been able to reproduce it and after looking a lot at different posibilities, my hope is that by posting the `unbindService` to the main thread, it will be executed after whatever the `bindService` is doing asynchronously on the main thread.

Please let us know wh

[2020-03-25 14:55] Thib75 commented on #98
Hi @vegaro 👋

Thanks a lot for all these feedbacks.

About patterns, regarding the devices, the android version or the state of when the crash occurs (background or foreground), we haven't noticed any particular metrics that could help 😞

I have seen the new release 2.4.3, but because we have already migrate to the 3 version, is your fix also present in the last release 3.1.0 ?

Thanks for your he

[2020-03-25 22:33] vegaro commented on #98
Hi @Thib75 !

`2.4.3` doesn't have the fix, that's an update on top of that fixes a critical bug regarding compatibility with AppsFlyer on `2.4.2`. GitHub thinks that's the most recent version since it's the latest tag, but the most recent version is `3.1.0`

`3.1.0` should have the most recent fix :)

[2020-03-26 09:18] Thib75 commented on #98
OK perfect 👌

We will let you know if we still have the issue in 3.1.0 😊

Thanks !

[2020-04-28 21:48] vegaro commented on #98
@Thib75 any news on this?

[2020-05-04 13:56] Thib75 commented on #98
Hi @vegaro 👋

Unfortunately, we still have the issue even in 3.1.0

**This is the crash report update :**

Service not registered: com.revenuecat.purchases.util.AdvertisingIdClient$AdvertisingConnection@1ffdb86
android.app.LoadedApk.forgetServiceDispatcher (LoadedApk.java:1671)
android.content.ContextWrapper.unbindService (ContextWrapper.java:730)
com.revenuecat.purchases.util.AdvertisingIdClient$

[2020-05-06 16:50] vegaro commented on #98
Thanks for the update. We will look into other possible solutions and keep this updated

[2020-05-06 16:53] vegaro commented on #61
This is most likely due to some caching performed by the Play Store. RevenueCat gets the SkuDetails from Google directly and we don't cache it.

[2020-05-06 16:53] #61 closed

[2020-05-08 15:59] Nyceane commented on #89
hey guys, is this solved?  I am still having this issue

[2020-05-08 17:24] vegaro commented on #89
Yes, this has been solved. What version are you using @Nyceane? Do you have other in app purchases libraries in your app?

[2020-05-09 00:48] Nyceane commented on #89
implementation 'com.revenuecat.purchases:purchases:3.1.0'

Adding or Removing     implementation 'com.android.billingclient:billing:2.1.0' doesn't make any difference.

[2020-05-09 01:31] Nyceane opened #137 "Support for pending purchases must be enabled. Enable this by calling 'enablePendingPurchases()' on BillingClientBuilder."
Enabling or disabling the android billing class makes absolutely no effect here.

//implementation 'com.android.billingclient:billing:2.1.0'
implementation 'com.revenuecat.purchases:purchases:3.1.0'

I am Simply calling
[code]

Getting
[code]

[2020-05-09 04:05] vegaro commented on #137
Hi! We indeed have a bug, sorry about that.

I just opened https://github.com/RevenueCat/purchases-android/pull/138 which should fix it. I am not sure when it will be released, but on the meantime, you should be able to achieve the same functionality by copying the static function in one of your classes:

[code]

[2020-05-09 07:40] davidmartos96 opened #139 "Non consumable products get consumed"
_This is taken from the [discuss forum](https://docs.revenuecat.com/discuss/5eaee0cdf72c0d00528cb922), but I think it may be more appropriate to post it here_

Hi! I am exploring RevenueCat as an alternative for handling purchases and subscriptions in my app on Android.

At the moment I am using the queryPurchases method to restore non consumable products, and it works great upon app reinstallatio

[2020-05-09 09:26] Nyceane opened #140 "Google Play Error: The purchase token does not match the package name., message='There was a problem with the Play Store.'"
So after test error this message was thrown

So whenever I subscribe to the basic service from the playstore, this error pops up with the email account.  and it won't go away.  Even after resetting the entire phone it is still there so it's not local.  Something wrong with the token system that's not in sync with the Google's token system

[code]

ends me with

2020-05-09 02:17:26.609 12172-12248/

[2020-05-09 09:30] Nyceane commented on #137
Thanks @vegaro, is it possible to write this in java?  not sure how to do .build().let  in java

[2020-05-09 17:52] vegaro commented on #140
It looks like the package name you have configured in the RevenueCat dashboard differs from the one of the app you are testing with

[2020-05-11 15:55] Thib75 commented on #98
Hi @vegaro, after some investigation, the numbers of crashes per session has raised by a factor 3 !

**For around 5M sessions we have:**
0.54% crash per session in 3.0.5
1.49% crash per session in 3.1.0

Hope that this information will help you a little :)

Also, do you think that we may have a wrong use of the library? Do you encounter the same issue with other company?

Thanks !

[2020-05-12 21:17] #137 closed

[2020-05-12 23:50] rkotzy commented on #139
Android doesn't have a concept of "non-consumable" products like Apple does, RevenueCat can't intelligently consume or not consume certain products with the current setup - all non-subscription products are treated the same. Since the purchases are stored server-side, and can be restored by the user, it shouldn't pose too much of an issue. If you set a non-subscription product to unlock an Entitle

[2020-05-13 07:42] davidmartos96 commented on #139
Thanks for the answer. The issue was more like a question on why are they consumed in the first place. Is it because there is no way to distinguish the consumable and the non consumable products in the Billing Client library?
I think it would be great to include some notice in the documentation about this behavior. Because when testing the plugin, it may cause confusion that the purchase is not th

[2020-05-17 14:04] Nyceane commented on #140
Fixed it, yay!  Thanks 😊

[2020-05-18 19:32] #140 closed

[2020-05-19 16:16] Thib75 commented on #98
Hi @vegaro, after some time to dig a little deeper, we have finally found the origin of the issue 😀

In short, the problem was related to the unbind of a service already unbound. To fix this you could simply catch the error, or add some checks to detect if the service had already be unbound or not.

Indeed, a service can be unbound from the developer but sometimes by the system itself. In our case

[2020-05-26 19:47] vegaro commented on #98
Thank you for the follow up. That makes a lot of sense. I think we have a bug here https://github.com/RevenueCat/purchases-android/blob/develop/purchases/src/main/kotlin/com/revenuecat/purchases/Purchases.kt#L1330 since we are not getting the `applicationContext` when initializing the SDK, even though we require one in https://github.com/RevenueCat/purchases-android/blob/develop/purchases/src/main

[2020-05-29 21:39] #98 closed

[2020-05-29 21:40] vegaro commented on #98
I just merged the fix and it should go out in the next release

[2020-06-02 04:02] Nyceane opened #149 "Active subscription show up on other phones/account."
implementation 'com.revenuecat.purchases:purchases:3.1.0'

Hey guys, I am getting a seperate issue

I have successfuly made purchases on one account, but it seems that every other account is seeing this purchase for some reason.  I have clearly seperated it.
[code]
But whenever I do
[code]

In Customer history it just keeps creating new "Created a new alias" and I am not creating new alias anywher

[2020-06-05 17:56] szeidner opened #153 "Memory leak in applicationContext"
LeakCanary detects a leak in Purchases where the applicationContext is held onto when the app is backgrounded. Library version 3.1.1 and Android billing 2.2.1

![Screenshot_1591379576](https://user-images.githubusercontent.com/333099/83907995-55edb080-a734-11ea-9877-b029d2054d6f.png)

[2020-06-05 19:00] vegaro commented on #153
Are you passing the MainActivity context to Purchases when calling configure?

[2020-06-05 20:14] szeidner commented on #153
Ah you are absolutely right, I thought I was passing the application context, but it was actually the MainActivity context 🤦

[2020-06-05 20:14] #153 closed

[2020-06-05 21:10] vegaro commented on #153
Glad to hear it's just that! There is actually a bug in the latest version that would hold to whatever context is passed to configure, instead of holding the applicationContext (even though the property is called Purchases.applicationContext 🤦‍♂️ ). We merged a PR this week https://github.com/RevenueCat/purchases-android/pull/147 that should fix it and avoid problems like what you were facing 😄

[2020-06-10 10:34] ubuntudroid opened #160 "Pending purchases are undetectable through the SDK"
version: 3.2.0

I'm currently integrating the SDK into our app. Previously we used BillingClient directly. With Billing client you could detect pending purchases by checking the returned Purchases for `purchase.purchaseState == Purchase.PurchaseState.PENDING`.  This was useful to inform the user, that their purchase was pending and that they need to complete it (e.g. in a store). Sometimes purchas

[2020-06-10 19:51] ubuntudroid opened #161 "PurchaserInfo contains no subscriptions if app was started offline at first start"
library version: 3.2.0

Steps to reproduce:
1. Install an old version of the app (without RevenueCat integration)
2. (Test-)purchase a subscription (the entitlement is stored in my app's database)
3. Install a new version with RevenueCat (update)
4. Go offline
5. Start the new version

I've added some handling to the app to make migration for existing users as smooth as possible: If the app is sta

[2020-06-12 13:41] rkotzy commented on #160
There is an error message in the purchase block `PAYMENT_PENDING` that may help, there isn't a  way to check for current pending purchases through RevenueCat outside of that error message. Maybe you could still interface with BillingClient directly here?

[2020-06-12 13:50] rkotzy commented on #161
Are you manually restoring purchases anywhere to migrate users?

The PurchaserInfo will always read from the cache first (if available) then update the cache through the network in the background. That's what you may be experiencing here, but it's a little unclear at what step do you expect the purchases to be migrated to RevenueCat?

If you determine the user is not subscribed in RevenueCat, but

[2020-06-12 17:07] ubuntudroid commented on #160
That error is a good first hint, thanks @rkotzy ! :)

It would be great to get pending purchases at any time via the SDK though - requesting the data from the BillingClient would mean quite a bit of code just for this special case while one of the main reasons for picking RevenueCat is to actually make all this handling transparent to the codebase. Do you plan on integrating a PurchaserInfo.pendin

[2020-06-12 17:23] ubuntudroid commented on #161
Currently I don't manually restore purchases (although reading through the discussion forums I figured I might have to).

But the interesting thing is: why is the first `PurchaserInfo` empty and the second one (even if triggered only a few seconds later) is populated - even without ever calling `restoreTransactions()`? Why do I even get the first empty one? Everything would be fine, if the first (

[2020-06-12 19:51] jeiting commented on #161
Yeah, unless you manually trigger a restore, our initial purchaser info will be empty since we haven't seen any receipts. Sometimes, we may get a receipt if a renewal happens to have happened in between, but not usually the case. Perhaps more frequent in sandbox.

[2020-06-12 19:53] jeiting commented on #160
That might be a decent valid use case. I'll rename this ticket and leave it open.

Not something we're likely to get to short term though unfortunately.

[2020-06-12 22:03] ubuntudroid commented on #161
Okay, so I will now always trigger a restore regardless of my old subscription state if it is the first start of the app after install/update to a RevenueCat enabled version.

I'll report back in case the empty `PurchaseInfo` still pops up after a restore because even with the workaround outlined above the second case cannot be circumvented:

[2020-06-15 17:39] ubuntudroid commented on #161
@jeiting I've implemented restore as outlined in my last comment. However I still get an empty `PurchaseInfo` in `onReceived()` after (according to the log) the SDK correctly fetched the purchase history, but *has not yet checked them for entitlements*. This happens afterwards as per the log (see below, it's already filtered and only contains relevant lines, grep for `onReceived` for `PurchaseInfo

[2020-06-15 18:54] aboedo commented on #149
Hi! 👋
`identify` [internally calls createAlias](https://github.com/RevenueCat/purchases-android/blob/develop/purchases/src/main/kotlin/com/revenuecat/purchases/IdentityManager.kt#L31) if the user is an anonymous user.
Although that part is expected, I'm surprised about the fact that the purchase is seen by other users.
This would only happen if `identify` is called with the same user ID every time

[2020-06-15 22:07] aboedo commented on #139
This is a valid concern.

As @rkotzy mentioned, as of right now if your app does not have a backend and you want to move away from RevenueCat, you could implement restore functionality for existing users, and we might add backend-side configuration so that the SDKs can selectively consume IAPs.

I also think @davidmartos96's suggestion of adding something to the docs is a great idea. We'll make th

[2020-06-15 22:07] #139 closed

[2020-06-16 11:03] ubuntudroid opened #162 "Old billing client library version"
Purchases library version: 3.2.0

The Purchases library uses `com.android.billingclient:billing:2.0.3` as a dependency which is severely outdated (at least for a system critical library like the one responsible for billing). The current 2.x version is 2.2.1, the latest version is 3.0.0. Release notes can be found [here](https://developer.android.com/google/play/billing/release-notes).

[2020-06-16 22:17] vegaro commented on #162
Thanks for reporting this, we have this in our backlog and will be releasing an update soon. It should be easy to upgrade since not many things have changed.

[2020-06-17 16:55] ubuntudroid commented on #139
@aboedo Sorry for posting on this closed issue again, but I'm confused. I reread all your comments and from @rkotzy 's last post it sounds like your backend is doing the consuming (though I might read that wrong):

Looking at the SDK code it's certainly the client (`Purchases.consumeAndSave()`) which does the consuming - which actually makes sense as I am not aware of a REST API to consume purchas

[2020-06-17 18:29] aboedo commented on #139
@ubuntudroid that's correct, consumption happens purely SDK-side.
The thinking around the backend was so that users could define it from the dashboard on a per-product basis, and so that it could even be done at runtime, for flexibility.
The backend would then inform the SDK of whether it needs to consume the purchase or not.

I like the idea of splitting `finishTransactions` into `acknowledgePurc

[2020-06-18 11:31] ubuntudroid commented on #161
@jeiting @rkotzy any insights? Is the workaround outlined in my previous post a valid one?

I unfortunately can't ship without this fixed as I will face a whole lot of (rightly) angry users if I don't handle this properly: in my app certain settings are automatically disabled when the user is not entitled to premium anymore - and they are not automatically reenabled later when they are entitled ag

[2020-06-19 14:26] aboedo commented on #161
reopening for discussion.
This is a valid use case, we've been [discussing it here as well](https://github.com/RevenueCat/purchases-flutter/issues/61).

assuming that the first `purchaserInfo` you get might be outdated will work, with some caveats:

- `purchaserInfo` will update automatically if it's been more than 5 mins since the last refresh. So waiting for an update on `purchaserInfo` won't wo

[2020-06-19 15:32] ubuntudroid commented on #161
Thanks for the update! 🙏  Sorry for missing that other ticket, thought I had thoroughly searched the other issues for similar ones, but apparently I didn't. 😓

Dropping the very first `PurchaserInfo` unfortunately proved too flaky as there were several edge cases (mostly due to threading) which made this unnecessarily complicated. I now worked around the issue by not toggling premium features off

[2020-06-23 08:43] peshkira opened #165 "Downgrading subscription with DEFERRED does not indicate the change"
Purchases Version: **3.2.0**

When downgrading a subscription with `BillingFlowParams.ProrationMode.DEFERRED`, we receive the following error:

[code]

Within the android billing popup, we see a success checkmark, but immediately after the popup closes, we see the above mentioned error.

The problem is that then the Purchases SDK sometimes reports two active subscriptions and sometimes we only see

[2020-06-24 16:48] vegaro commented on #162
Little update that we are working on this at the moment.

[2020-07-08 18:50] vegaro commented on #162
@ubuntudroid https://github.com/RevenueCat/purchases-android/releases/tag/3.3.0 has been released with the new billing client

[2020-07-08 18:51] #162 closed

[2020-07-09 22:10] rkotzy opened #171 "Support for Account hold, restore, pause, resubscribe"
Google announced that starting November 1st, 2020 certain features will change from optional to either mandatory or on by default. You can read the full announcement here: https://android-developers.googleblog.com/2020/06/new-features-to-acquire-and-retain-subscribers.html

Currently, RevenueCat's entitlement system supports these states, but the dashboard, charts, and integrations do not. This me

[2020-07-12 15:52] lawloretienne opened #173 "Write Unit test for getPurchaserInfoWith()"
How do I write a unit test for getPurchaserInfoWith?  It looks like the arguments to this function are lambdas. I am using the MockK library for mocking.

[code]

[2020-07-13 18:42] vegaro commented on #173
Hi @lawloretienne

I am not sure what's your problem here, but I am assuming you want to mock the `purchaserInfo` of the success lambda in `getPurchaserInfoWith`.

You have to capture the lambda using `captureLambda`, doing something like what we do here https://github.com/RevenueCat/purchases-android/blob/39bb24bdda87b4c2cc1f8a12e4ef42b7a71d018a/purchases/src/test/java/com/revenuecat/purchases/Id

[2020-07-13 18:42] #173 closed

[2020-07-14 00:44] lawloretienne commented on #173
Thanks for that helpful info.  I didnt know about captureLambda().  Very helpful. I will give this a try.

[2020-07-14 01:39] lawloretienne commented on #173
Yep that worked. Here is what my test class looks like now :

[code]

[2020-08-04 04:10] mikezliu opened #178 "More fine grained permission for linked account in Google API Console"
Hi,

My Google Play console is linked to my API project already (google play console only allows 1 linked project), and that API project has some mission critical stuff in it (databases, GCP resources, configuration etc).

Per https://docs.revenuecat.com/docs/creating-play-service-credentials#2-create-service-account, I need to give 'Project Owner' role to the revenuecat service account.

This see

[2020-08-18 07:09] ubuntudroid commented on #171
Any updates here?

[2020-08-27 22:20] rkotzy commented on #171
We're going to be specing this out soon and should be deployed before the end of September. I don't think they'll be any required SDK update here and would just be RevenueCat server updates. Once the spec is finalized, will post any planned changes here that may be important (e.g. new properties in webhooks).

[2020-08-28 08:04] ubuntudroid commented on #171
Great news! However, shouldn't there be some kind of SDK changes, e.g. a function to find out if a user is currently on a paused subscription or, more importantly, whether account hold is active? With the current entitlements we can just find out whether an entitlement is active or not.

[2020-09-21 06:58] mguellsegarra commented on #171
Hi,
Any news about this?
Thank you!

[2020-09-22 21:04] rkotzy commented on #171
Update here:

The RevenueCat backend is all setup to handle these new Google states now. This means that entitlement granting and price calculations will work as expected - so nothing will break.

1. If you're using webhooks, there will be some new/updated events coming soon:
    - `SUBSCRIPTION_PAUSED`: New event type to detect a paused subscription on your server. There is no "resumed" event, wi

[2020-09-23 05:36] mguellsegarra commented on #171
Thank you Ryan for the update, and thank you all RevenueCat members for giving us this awesome SDK. Cheers!

[2020-09-24 11:11] AndrazP opened #193 "TimeoutException at AttributionFetcher.getAdvertisingID"
After updating RevenueCat Android library from 3.3.4 to 3.3.5 we are starting to see the following crash:
[code]

It must be connected with ```Purchases.sharedInstance.collectDeviceIdentifiers()``` that was introduced in latest release. We are calling it from Application:onCreate().

[2020-09-24 17:30] vegaro commented on #193
Thanks for opening @AndrazP  I will throw a quick release to fix it

[2020-09-29 19:56] rkotzy commented on #161
I know this is an old issue, but want to check in to make sure we understand the problem and if there's a current workaround. Is the problem with the `onReceived()` in the `UpdatedPurchaserInfoListener` or the `restorePurchases` `ReceivePurchaserInfoListener`?

The `restorePurchases` call should not return a PurchaserInfo from the cache and always have the latest entitlement status.

[2020-09-29 19:57] rkotzy commented on #149
Going to close this out due to inactivity.

[2020-09-29 19:57] #149 closed

[2020-09-30 19:05] AndrazP commented on #193
Hi @vegaro
We are still seeing this crashes with the latest SDK version 3.5.1.
Could it be you missed a case?

[code]

[code]

[2020-09-30 21:06] vegaro commented on #193
My bad. I added a `catch` for a `TimeoutException`. But what's being thrown is a `IOException(TimeoutException())`, so we need to change the catch to IOException instead 🤦

I will make another release. Sorry about that!

[2020-09-30 22:48] vegaro commented on #165
@peshkira I have been able to replicate the error but no the two active subscriptions problem.

For some strange reason the BillingClient returns an empty list of purchases after the success checkmark 🤔

I will update whenever I find out something else.

(sorry it took so long to reply)

[2020-10-01 00:27] vegaro commented on #165
For reference https://github.com/dooboolab/react-native-iap/issues/888 explains the same issue

[2020-10-01 16:46] limamauricio opened #198 "There is no singleton instance. Make sure you configure Purchases before trying to get the default instance."
I call Purchases.configure(this, "api_key"); in my splash screen, but in Store Activity I get this error sometimes.

Unable to start activity ComponentInfo: There is no singleton instance. Make sure you configure Purchases before trying to get the default instance.

![Captura de tela de 2020-10-01 13-47-23](https://user-images.githubusercontent.com/4194664/94838941-b17f3080-03ec-11eb-94c5-5dd92e48

[2020-10-01 23:14] vegaro commented on #198
Hi @limamauricio

Is it possible that the Store Activity runs before the Splash Screen?

I would recommend you to configure the SDK in your Application class instead of in the Splash Screen.

[2020-10-02 18:26] ubuntudroid commented on #171
Just FYI: https://medium.com/androiddevelopers/preparing-your-apps-for-the-latest-features-in-google-plays-billing-system-210ed5e50eaa

[2020-10-02 18:38] ubuntudroid commented on #161
@rkotzy The problem is with `onReceived()`. I've outlined our workaround in https://github.com/RevenueCat/purchases-android/issues/161#issuecomment-646699852 . It seems to work fine so far as long I maintain a somewhat lenient approach to removing access to premium features.

[2020-10-03 00:23] limamauricio commented on #198
Well, the splash screen is the application launch screen. Store Activity should not run before splash screen, but it is possible in the android app life cycle. Is there any method to check if a singleton instance exists?

[2020-10-07 08:30] AndrazP commented on #193
Any plans when the latest fix will be released?

[2020-10-11 18:57] Neo76289 commented on #171
I just tried a subscription pause and it doesn't work. Each time it returns to me the entitlement exist and it is active. Google Docs says "**While the subscription is paused, the user doesn't have access to the subscription.** " [Google docs link](https://developer.android.com/google/play/billing/subs#pause). How do I know that a subscription is in pause status and lock premium content?

[2020-10-12 09:11] lonewolfaka9 commented on #171
+1

[2020-10-13 04:07] vegaro commented on #171
From the docs:

The subscription pause **takes effect** at the end of the billing period. After the end of the billing period, it will be considered as paused and the user won't have access to the subscription. Before the end of the billing period is not considered as paused so the user should still have access. It is basically like a cancellation with an automatic restore after some period of tim

[2020-10-14 23:29] rkotzy commented on #198
There isn't a method in the SDK to check if a singleton instance already exists. Going to close this out since it doesn't appear to be an Android SDK issue.

Feel free to get in touch with the RevenueCat support team through the [Help Center](https://support.revenuecat.com/hc/en-us) or Stackoverflow if it's code specific to your app.

[2020-10-14 23:29] #198 closed

[2020-10-15 08:46] selimbenmrad commented on #171
Actually, I would highly appreciate to know how to implement the changes using the **react native sdk.**

I do not found this discussion helpful.

I think creating a post on the revenue cat blog might be very helpful for many other developer.

[2020-10-15 11:05] s8mathur opened #210 "Remove com.android.vending.BILLING from Manifest"
Since integrating with the RevenuCat Android library, Play Store Pre-Launch test report shows the following APK Security warning about the use of com.android.vending.BILLING . Prior to RC, our app was using Billing Client library directly and not triggering this warning.

Request that the RevenueCat manifest remove it if no longer necessary for modern API levels and Play Store Billing Client versi

[2020-10-15 13:28] rgusso commented on #171
and flutter

[2020-10-15 14:22] rkotzy commented on #210
I believe this is a required permission to make in-app purchases through Google Play Billing: https://developer.android.com/google/play/billing/integrate#dependency

[2020-10-15 14:44] s8mathur commented on #210
Hey Ryan,
Is the RC library Manifest listing it explicitly?
My understanding is that as app developers and library providers, we are no longer expected to add it to our manifests. Please see the the v1.0 release notes for Billing library: https://developer.android.com/google/play/billing/release-notes#release-1_0

Please also see: https://developer.android.com/google/play/billing/migrate#remove

[2020-10-15 14:47] rkotzy commented on #210
Thanks for the additional details @s8mathur. Going to tag @vegaro to investigate since they'll know more than me about this.

[2020-10-15 18:38] vegaro commented on #210
We can remove it from our `AndroidManifest.xml`, but the BillingClient has it in its own `AndroidManifest.xml`:

[code]

When merging manifests, your app will end up with the BILLING permission anyhow even if we remove it from our `AndroidManifest.xml` since the BillingClient is adding it. I am not sure it will remove the warning you are seeing but I will remove it just in case it helps

[2020-10-16 10:34] Neo76289 commented on #171
I tried again and it worked, the first time I didn't take into account that the "pause"starts from the end of the subscription.
Thanks for the explanation.

[2020-10-20 13:43] MarkRS-UK commented on #165
Unfortunately it seems that this is not, strictly speaking, an error. That's what Android does, as (eventually) remarked in the thread at the dooboolab link.
Unfortunately, that seems to leave the app with insufficient data to fully confirm the (future) purchase.
The only way I can see to get this working in any way is to record insufficient data and then wait for the Real Time Developer Notificat

[2020-10-21 21:18] #165 closed

[2020-10-22 09:46] peshkira commented on #165
Thanks for the fix. I will try it out soon :)

[2020-11-03 11:28] ubuntudroid commented on #193
Looks like this has already been released and can be closed? @vegaro

[2020-11-03 18:32] vegaro commented on #210
Released in version 4.0.0

[2020-11-03 18:32] #210 closed

[2020-11-04 01:00] rkotzy commented on #171
Going to mark this as closed now since everything has been released.

[2020-11-04 01:00] #171 closed

[2020-11-09 21:31] vegaro commented on #193
yes! thanks @ubuntudroid!

[2020-11-09 21:31] #193 closed

[2020-11-21 01:34] mikezliu commented on #178
I changed the role to Viewer instead of Owner, and it still seems to work. Are there any side effects I should verify?

[2020-11-24 22:02] rkotzy commented on #178
Sorry for the late replay here! You should be fine with the Viewer role now, except to set up Platform Server Notifications you'll need the Pub/Sub Editor role. We've updated our docs with the new minimum permissions, so going to close this out.

https://docs.revenuecat.com/docs/creating-play-service-credentials

[2020-11-24 22:02] #178 closed

[2020-12-02 12:02] katajona opened #226 "Library is not working with latest billingclient"
**Describe the bug**
After updating `com.android.billingclient:billing-ktx` version from `3.0.1` to `3.0.2` I get the following error:
[code]
The problem occurs using `com.revenuecat.purchases:purchases:4.0.0`

[2020-12-07 18:31] herou opened #227 "Are you open for contributors?"
I like this product and I would like to contribute.  Do you have any easy issue to start on?

[2020-12-14 09:18] archie94 opened #229 "`SkuDetails#getSubscriptionPeriod` returning empty string"
**Describe the bug**
A clear and concise description of what the bug is. The more detail you can provide the faster our team will be able to triage and resolve the issue.

1. Environment
    1. Platform: Android
    2. SDK version: 4.0.0
    3. OS version: MacOS, Linux
    4. Android Studio version: 4.1
    5. How widespread is the issue. Percentage of devices affected. ~1%

2. [Debug logs](https:

[2020-12-16 00:39] ByeBai commented on #160
Also running into some issues for my app in regards to this. Current hacky solution is to just "assume" payment is successful when the error code == `PurchasesErrorCode.paymentPendingError` but ideally would prefer a cleaner solution (there's probably a small % of users that are getting the IAP for free - but its a short-term tradeoff).

[2020-12-16 00:53] rkotzy commented on #160
The payment pending error indicates that the payment was NOT successful - so you would be giving away this IAP to 100% of these users. There could be an elegant solution here where you grant them 24hour promo access in this event which gives them time to complete the purchase.

To clarify this issue, the SDK will correctly unlock access to pending purchases after payment goes through, but there is

[2020-12-17 05:59] archie94 commented on #229
Hi @vegaro
Any help here will be appreciated!

[2020-12-17 12:18] the-habu commented on #82
Please advise what methods to use to do this. I am using purchaseProduct and have no idea how to iterate past product purchases if delayed.
I also asked here, but now I found this Github Issue. https://docs.revenuecat.com/v2.3.0/discuss/5d26824b61f9060044c1498e
Thank you in advance!

[2020-12-18 17:46] vegaro commented on #229
Hi @archie94!

According to the SkuDetails documentation https://developer.android.com/reference/com/android/billingclient/api/SkuDetails#getsubscriptionperiod

Is it possible you have a package that has a managed product? Maybe a lifetime package? I assume you don't because you would be seeing this more often...

Not sure what's going on here... Being the percentage of devices affected so low, I

[2020-12-18 17:48] #229 closed

[2020-12-18 19:10] #226 closed

[2020-12-28 04:58] archie94 commented on #229
Understood! Thanks for your response.

Yes. Will do something similar.

[2021-01-05 16:27] Thib75 opened #240 "Crashes during Purchases initialization through Purchases.configure()"
Hi 👋

I am experiencing some issues during the initialization of the `Purchases` object when calling `Purchases.configure(context, key, userID)`.

Our users are under the following environment:
- Platform: android
- SDK version: 4.0.0
- Android OS version: 8, 9, 10
- Android Studio version: 4.1.1

Unfortunately, we could not reproduce these issues, but to give more context, we have a SplashScreen

[2021-01-05 17:33] vegaro commented on #240
These crashes look similar to https://github.com/RevenueCat/react-native-purchases/issues/184

I have been holding on updating the lifecycle library because it was still on a pre-release stage, but I see they released a release candidate `Version 2.3.0-rc01` already, so I am going to update it and make sure we call `addObserver` and `removeObserver` from the Main thread so we can close these issue

[2021-01-06 09:38] Thib75 commented on #240
Hi @vegaro 👋

Thanks for your answer, I will follow your recommendations about the main thread, and keep you in touch about it 👍

Thank you 😊

[2021-01-06 23:23] #240 closed

[2021-01-06 23:25] vegaro commented on #240
I have merged the PR that updates the version and makes sure we call those functions from the main thread. It will go out in the next release. Feel free to reopen it if you're still seeing it.

Thanks!!

[2021-01-15 03:58] wilburt opened #246 "Accessing of BillingWrapper#purchasesUpdatedListener is blocking when Purchases is reinitialized"
**Describe the bug**
It's basically what the title says but here's how to reproduce:

1. Environment
    1. Platform: Android
    2. SDK version: 3.4.1
    3. OS version: Android 10
    4. Android Studio version: 4.1.1
    5. How widespread is the issue. Percentage of devices affected: 100%
2. Steps to reproduce, with a description of expected vs. actual behavior
     1. Initialize the SDK with `P

[2021-01-15 04:15] rkotzy commented on #246
Hey @wilburt 👋. You should only be configuring one instance of the Purchases SDK, and using that shared instance of Purchases throughout the lifecycle of your app (e.g. `Purchases.getSharedInstance().purchasePackage`). It sounds like your configuring one instance of Purchases (P1), then setting up another instance of Purchases (P2) after a purchase is made on P1.

Going to close this out for now u

[2021-01-15 04:15] #246 closed

[2021-01-15 07:13] wilburt commented on #246
@rkotzy Thank you for the feedback. Please, what's the right way to handle logout and re-login? Is `Purchases.sharedInstance.reset` (for logout) and `Purchases.sharedInstance.identify` (for relogin) enough?

[2021-01-15 07:26] wilburt commented on #246
Never mind. Seen the docs. Thanks still.

[2021-01-15 15:48] rkotzy commented on #246
@wilburt yup - that's it!

[2021-03-31 18:24] ubuntudroid opened #290 "managementURL is null when in account hold"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/develop/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/

[2021-03-31 18:29] ubuntudroid commented on #290
Not sure what is missing here... 🤔  Hope someone can still help out. 🙏

[2021-03-31 19:42] aboedo commented on #290
hi @ubuntudroid! Don't mind the bot, it's still learning 🤖 . Not sure what was missing either but I think we have enough info to go on.
Thanks for opening!

[2021-03-31 19:48] aboedo commented on #290
btw I was curious about the bot thing and it turns out that it's looking for the words "Debug logs", as they're a part of the issue template, and you had "logs" instead. Just mentioning it in case others read this and wonder about it.

[2021-04-02 19:43] aboedo commented on #290
update here: we're going to make a backend-side fix, will report back and close out the issue when it gets deployed. Thanks again for reporting!

[2021-04-02 20:49] ubuntudroid commented on #290
Neat! 🙏 Do you have a rough ETA? Just so that I know whether I should implement a client side workaround for the meantime.                                                                                                           On Freitag, Apr. 02, 2021 at 9:44 PM, aboedo <       ***@***.***> wrote:                                 update here: we're going to make a backend-side fix, will report b

[2021-04-07 15:36] ubuntudroid commented on #290
@aboedo Will the backend fix also include the "deeper" routing into Play Store as outlined in the issue description?

[2021-04-07 16:07] ubuntudroid commented on #290
*Update:* I've now checked the deeplink Google Play Store provides according to the documentation to link directly into the subscription (the one which includes the SKU and the package). Turns out either it doesn't work or I'm too dumb to properly fill in SKU and package. Only the generic https://play.google.com/store/account/subscriptions works for me (and it looks that's the one you guys are ret

[2021-04-07 16:21] aboedo commented on #290
thanks for the update and for posting a workaround! @ubuntudroid
I'm sorry I missed the previous message. I don't have an ETA for a backend fix yet.

[2021-06-01 18:07] tomtaila-wesayhi opened #330 "Purchases.sharedInstance.purchase(...) should not require an Activity to be passed through"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/develop/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/

[2021-06-01 18:33] vegaro commented on #330
Hi @tomtaila-wesayhi ! The reason why we require an Activity is because the BillingClient itself requires an Activity to launch the billing flow https://developer.android.com/reference/com/android/billingclient/api/BillingClient#launchBillingFlow(android.app.Activity,%20com.android.billingclient.api.BillingFlowParams). We call `launchBillingFlow` internally and there's no other way to start a new

[2021-06-14 15:25] mustafacoskunn opened #332 "RevenueCat new version app crash"
1. Environment
   1. Platform: Android
   2. SDK version: 4.2.0
   3. OS version: 10, 8.1.0,6.0.1,7.0
   4. Android Studio version:4.2.1

App crash error

Firebase Crashlytics log
kotlin.collections.CollectionsKt___CollectionsKt.first (CollectionsKt___CollectionsKt.java:222)
com.revenuecat.purchases.Offering.getPackage (Offering.java:82)
com.revenuecat.purchases.Offering.get (Offering.java:68)
com

[2021-06-14 18:14] aboedo commented on #332
hi @mustafacoskunn!! Thanks for reporting!

From the stack trace, it looks like this it's crashing from the completion block, when trying to access a package by name. Does that seem correct?

If so, it looks there might be a bug on our side: if you call `offering.getPackage(identifier)` where `identifier` isn't in the list of `availablePackages`, an error will be thrown.

Could you confirm?

[2021-06-14 21:32] aboedo commented on #332
I was able to reproduce by calling `getPackage` with an identifier for a package that isn't available in the `Offering`.

Since the method can throw, but this behavior isn't actually specified, I added an `@Throws` to make it clear.
I opened up the following PR https://github.com/RevenueCat/purchases-android/pull/333

Thanks once more for opening!

[2021-06-16 16:48] aboedo commented on #332
@mustafacoskunn we've updated the de to make it clear that the method can throw an exception, but we can't update its behavior without affecting others.
In a future release, we might update this method to make its return `nullable` instead.

Until then, the best way to handle it is to `try / catch` when calling the method, making sure to catch `NoSuchElementException`.

[2021-06-17 00:54] taquitos commented on #227
Hey @herou, thank you for your patience 😄 We're actively working on how we can share feature development, bug fixing, and even roadmaps in order to make accept contributions from folks like you something we can do! We want to get this right, so it's taking a little bit of time (we're only just a few developers 🔧 on the SDK side ), but we hope you're enjoying using RevenueCat in the meantime!

[2021-06-25 12:09] mikezliu opened #334 "Amazon app store support"
Windows 11 will allow native apps from the amazon app store to launch now. We are in the process of shipping for amazon app store. Can revenuecat include support for the amazon app store?

https://www.theverge.com/2021/6/24/22548428/microsoft-windows-11-android-apps-support-amazon-store

[2021-06-25 21:35] beylmk commented on #334
Hey @mikezliu, thanks for opening an issue. Amazon app support is something we are working on, but it isn't quite ready yet. Keep an eye out for upcoming releases!

[2021-07-04 10:13] mikezliu commented on #334
Hope this gets added soon, there's quite a bit of interest since Windows is a large ecosystem: https://www.reddit.com/r/androiddev/comments/ocbsiz/microsoft_recently_announced_that_you_can_install/

[2021-07-08 19:26] #330 closed

[2021-07-15 16:55] aboedo commented on #332
version 4.3.0 has been released, and it includes the `@Throws` for the method to make it clear that it can throw and that the exception should be handled.

Thanks for reporting!! 🙌

[2021-07-15 16:55] #332 closed

[2021-08-03 18:19] alonp99 commented on #193
@vegaro @AndrazP Any idea why this error is happening in the first place?

[2021-08-03 20:43] beylmk commented on #193
@alonp99 we call into google's APIs for this, so unfortunately I don't have a ton of details...

https://developers.google.com/android/reference/com/google/android/gms/ads/identifier/AdvertisingIdClient

Sounds like for some reason the connection to Play Services failed. Let me know if you have further questions!

[2021-08-05 13:32] davidcz95 opened #346 "One signal integration doesn't work - webhook response error 400"
- [X] I have updated Purchases SDK to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [X] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [X] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [X] I have searched for [existing Github issues](https://github.com/Rev

[2021-08-05 15:07] aboedo commented on #346
hi @davidcz95!! 👋
I believe you posted this question [to the community as well](https://community.revenuecat.com/third-party-integrations-53/one-signal-integration-doesn-t-worki-webhook-response-error-400-244), let's keep the conversation unified there.

We reserve GitHub issues for SDK bug reports only, so I'm going to close this issue out since it looks like a configuration issue with the OneSig

[2021-08-05 15:07] #346 closed

[2021-08-24 00:14] vegaro opened #348 "onBillingSetupFinished returns in thread instead of main"
Looks like in BillingClient 4.0.0 `onBillingSetupFinished` started to be called in a thread different than `main`, possibly causing unpredicted behavior and breaking `canMakePayments` in Flutter.

[2021-08-24 00:16] vegaro commented on #348
https://issuetracker.google.com/issues/197552099

[2021-08-30 12:43] matteinn opened #352 "java.lang.SecurityException: Binder invocation to an incorrect interface"
- [ ] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/Rev

[2021-08-31 16:37] beylmk commented on #352
Hi @matteinn, thanks for opening this issue and sorry you're seeing this crash. Unfortunately, this one is tricky for us to reproduce, but it sounds like this might be a proguard-related issue...

Could you try adding the lines from [this stackoverflow answer](https://stackoverflow.com/questions/18646899/proguard-cant-find-referenced-class-com-google-android-gms-r/39701449#39701449) to your progua

[2021-09-02 18:37] beylmk opened #355 "Refactor canMakePayments to BillingWrapper"
Currently, `canMakePayments` lives in `Purchases`. We will need to leave an API to call `canMakePayments` there, but should refactor the actual code into `BillingWrapper` to respect our blackboxing of store-specific code. The same will be needed for `isBillingSupported` and `isFeatureSupported`. This might require a Store parameter to be passed to the method, since it's static.

Additionally, we s

[2021-09-03 20:17] vegaro opened #356 "Add test coverage back"
Our test coverage reports broke when we modularized the SDK. We should bring the reports back

[2021-10-04 22:38] vegaro commented on #352
@matteinn Did you have any luck with what @beylmk mentioned? I am going to be closing this since we didn't get any response back but feel free to reach back if you have more info.

[2021-10-04 22:38] #352 closed

[2021-10-14 17:44] taquitos commented on #227
We're going to move issues from our internal tracking tool out here.

[2021-10-21 00:01] apps-digitalgrounded opened #373 "Purchases not restored on first start after install"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/Rev

[2021-10-21 14:29] #373 closed

[2021-11-02 16:12] Maradox opened #374 "Non consumable products get consumed"
This is a follow-up to https://github.com/RevenueCat/purchases-android/issues/139.

Is there any progress on this issue/feature? We would like to use revenueCat, but the consumption of products which we don't want to be consumed is holding us back. The alternative of using revenueCat in observer-mode does also not work for us, since the documentation states that in observer-mode entitlements do no

[2021-11-04 17:31] vegaro commented on #355
Just adding some more context here, because we were talking about it in grooming. We think for Amazon, returning true would be a good compromise. Apart from that, when we move the call to BillingWrapper, the call should be static, since it doesn't require an instance of BillingWrapper. Maybe it should live in a new class that's a static class, since BillingWrapper is not.

[2021-11-05 18:24] codykerns commented on #374
Hey @Maradox!

The entitlement system actually does work in Observer Mode - our docs seemed to imply that it wasn't supported, so I updated our documentation to clarify that entitlements will be granted if we pick up on purchases with associated product IDs: https://docs.revenuecat.com/docs/observer-mode#2-sync-purchases-with-revenuecat-android-only

I'll close this out for now, but let me know if

[2021-11-05 18:24] #374 closed

[2021-11-15 03:23] tarouboy opened #377 "Small amount of users experiencing kotlin.UninitializedPropertyAccessException crash"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/Rev

[2021-11-15 03:56] tarouboy commented on #377
Updated.

[2021-11-15 23:57] vegaro commented on #377
Where are you configuring the SDK in your app? This crash occurs when trying to access any function before the SDK has been configured. Is it possible you have a race condition between `logIn` and where you're setting up the SDK?

[2021-11-15 23:57] vegaro commented on #377
Where are you configuring the SDK in your app? This crash occurs when trying to access any function before the SDK has been configured. Is it possible you have a race condition between `logIn` and where you're setting up the SDK?

[2021-11-16 06:13] tarouboy commented on #377
I understand and I configured the setup code in the first line already.

Is there a way to check if the SharedInstance exists before executing logIn?

Or is it possible to expose a function to check if the SharedInstance exists? so I will run the setup code again?

If both not possible, is it ok to run the setup code multiple times? So I will run the setup code every time right before logIn.

[2021-11-16 22:37] vegaro commented on #377
Do you mind sharing a snippet of where you are calling setup and login? In our sample https://github.com/RevenueCat/react-native-purchases/blob/main/examples/MagicWeather/App.js#L30 we recommend calling setup it in App creation.

We have been getting a bunch of reports of this, and we would like to understand why this is happening and what we can do to fix it. The solutions you propose should work

[2021-11-19 00:18] vegaro commented on #377
I have released 4.5.0 that adds `isConfigured`, it can be used to prevent the crash. We will add that to react native soon. We will also make sure the Exception is thrown as a JS error and not as a native exception that is impossible to catch.

[2021-11-19 00:19] #377 closed

[2021-11-24 00:11] stephen-mojo opened #381 "Android Billing Client crash when user is identified with logInWith() rather than at Purchases.configure() time"
- [X] I have updated Purchases SDK to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [X] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [X] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [X] I have searched for [existing Github issues](https://github.com/Rev

[2021-11-24 01:56] stephen-mojo commented on #381
After hours and hours of digging into this, the suspected culprit is not what I expected. It appears that clearing my Activity's Intent might be what is causing it.

My app uses Android Jetpack Navigation for navigating in between Fragments all within a single Activity. There are many instances where I need to reset the entire navigation graph (I can go further into detail on that if you want, but

[2021-11-24 02:31] stephen-mojo commented on #381
Looks like this is not a RevenueCat issue, more a Google billing client issue. Seems they assume that the Activity's intent is non-null. Looks like an oversight on their part (unless someone can tell me otherwise.)

https://stackoverflow.com/questions/65095426/android-play-store-crashes-during-billingclient-launchbillingflow

[2021-11-29 17:36] alexvasilkov opened #383 "Management URL for Apple subscription does not work on Android"
- [ +] I have updated Purchases SDK to the latest version
- [ +] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [ +] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [ +] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [ +] I have searched for [existing Github issues](https://github.co

[2021-11-29 17:43] alexvasilkov commented on #383
Thanks bot, but I think there is enough info :)

Regarding `https://apps.apple.com/account/subscriptions` link, it seems it does not make sense on Android either as it opens Apple Music website with no meaningful information. Is it possible to provide some meaningful info about Apple subscription to Android users?

I'm thinking to detect `itms-apps://apps.apple.com/account/subscriptions` URI and j

[2021-11-29 18:01] aboedo commented on #383
Hey @alexvasilkov! Thanks for opening!!
We're aware of this, I apologize for the inconvenience. The fix is in our backlog. I'll attach the link to this issue for reference and keep this open until we have a fix out.

[2021-11-29 18:06] alexvasilkov commented on #383
Thanks for the swift reply! Can you maybe suggest a temporary workaround for the issue?

[2021-11-29 18:21] aboedo commented on #383
The temporary workaround would be to detect the link, like you said, then direct the users to the correct place.

However, figuring out that correct place now seems to be, well, less than ideal:

- https://apps.apple.com/account/subscriptions just takes you to apple music
- https://support.apple.com/en-ca/HT202039 says that on an Android device, you should contact apple support, but the link they

[2021-11-30 11:20] alexvasilkov commented on #383
Thanks for the workaround details.
The later link opens to "Tell us where you are" page, which is not immediatelly obvious for the users I think. Once providing my location I have options to manage my subscriptions (which leads to Apple Music again) and to contact Apple Support.

I guess there is no good way to manage Apple subscription from Android device after all. So maybe you can host your own

[2021-11-30 14:28] aboedo commented on #383
@alexvasilkov that's a good point, and very valid feedback. I've shared this with the broader team to come up with clean alternatives for Android users who have an Apple subscription. I'll update here once we have a proper fix in place, and keep the issue open in the meantime

[2021-12-06 23:40] beylmk commented on #381
Hi @stephen-mojo thanks for opening this issue, and for letting us know about your findings. It does look like this is a BillingClient issue, but we can help our users by detecting this case and providing a more detailed response. I've added a ticket to the backlog and will respond back here once our team has worked on it.

[2021-12-08 06:45] mikezliu opened #397 "[Amazon] Target SDK 12 - build error about android:exported missing in merged maniphest"
**Describe the bug**
When trying to compile with target SDK 31 (Android 12) with the amazon revenuecat gradle dependencies, there is a build error about the merged maniphest missing android:export

[code]

1. Environment
   1. Platform: Mac / Android
   2. SDK version: 5.0.0-amazon.alpha.3
   3. OS version: Monterrey
   4. Android Studio version: 20.3.1
   5. How widespread is the issue. Percentag

[2021-12-08 08:35] NLLAPPS opened #398 "Manually calling getPurchaserInfo()"
Hi, documentation at https://docs.revenuecat.com/docs/purchaserinfo says that we should call getPurchaserInfo() any time a user accesses premium content.

However, [I can see](https://github.com/RevenueCat/purchases-android/blob/6a3901a74ae2a39313e8849e4660bc883d6fde61/purchases/src/main/kotlin/com/revenuecat/purchases/Purchases.kt#L205) that SDK updates its cache when app comes to screen.

Is it

[2021-12-08 08:42] NLLAPPS commented on #398
Posted on the community forum. Please delete this issue. Thank you.

[2021-12-08 08:42] #398 closed

[2021-12-09 21:01] codykerns commented on #397
Hey @mikezliu! Can you send over the receiver entry in the AndroidManifest.xml that is failing? It looks like this is a new requirement for Android 12: https://stackoverflow.com/a/68648841

[2021-12-12 09:23] mikezliu commented on #397
[code]

You could also set targetSDK to 31 on your sample project to see the error

[2021-12-13 15:36] codykerns commented on #397
Hey @mikezliu! Thanks for the heads up- are you able to manually modify the entry to include the exported property? Like:

[code]

I've went ahead and logged this as a bug on our end. We'll update this issue when we have more information on a fix.

[2021-12-14 02:42] mikezliu commented on #397
For now I've set compile SDK to 31, and target SDK to 30, since most amazon devices don't support SDK 31 anyways

[2021-12-15 19:03] joshdholtz opened #410 "📣 Have a question? Please use https://community.revenuecat.com 😁"
👋 Hello, RevenueCat community!

We've just recently released a new site to assist you all getting better and faster answers to your questions.

Head over to https://community.revenuecat.com to get started!

## The Community

GitHub issues are great for bug reports specific to an SDK but might not be the best place to look for answers to support questions. Our new community site puts all the questi

[2021-12-17 23:02] beylmk commented on #397
Hey @mikezliu this should be fixed in the latest amazon alpha release, 5.0.0-amazon.alpha.4. I'm going to close this ticket for now, but feel free to re-open if you're still experiencing issues.

[2021-12-17 23:02] #397 closed

[2021-12-24 11:38] arisAlexis opened #421 "build fails when adding the Flutter plugin"
- [X] I have updated Purchases SDK to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [X] I have searched the [Community](https://community.revenuecat.com)
- [X] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [X] I have searched for [existing Github issues](https://github.com/RevenueC

[2021-12-27 11:28] vegaro commented on #421
Hi @arisAlexis , how are you adding the plugin to your project? Are you using the flutter plugin in an Android app or is your app a Flutter app. I am curious because we have a specific repo for the flutter plugin https://github.com/RevenueCat/purchases-flutter, and this is the repository for the Android library.

[2021-12-27 12:03] arisAlexis commented on #421
The flutter plugin has on the requirements only xcode and no instructions for android. I will try opening the ticket there though.

[2021-12-27 12:03] #421 closed

[2022-01-01 02:24] #381 closed

[2022-01-06 22:14] beylmk commented on #381
Hi @stephen-mojo, if you have time, could you elaborate for us on why you set the intent to null? Was that recommended to you by the Navigation library? Does the intent need to remain null, or is it only used when the activity is launched?

We are thinking of releasing a [fix](https://github.com/RevenueCat/purchases-android/pull/430) that will check if the intent is null before calling `launchBill

[2022-01-08 14:26] raghav2945 opened #432 "[ANR] Reported through different file of RevenueCat/purchases-android"
-  [x] I have updated Purchases SDK to the latest version
-  [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
-  [x] I have searched the [Community](https://community.revenuecat.com)
-  [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
-  [x] I have searched for [existing Github issues](https://github.com/Rev

[2022-01-10 11:16] scana opened #433 "Error updating purchases. ErrorCode: 6"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [x] I have searched the [Community](https://community.revenuecat.com)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/RevenueC

[2022-01-10 12:36] vegaro opened #434 "Create a library with Coroutines wrappers"
Create a library that adds Coroutine support to our APIs. Same way billingclient-ktx does.

[2022-01-10 12:37] vegaro opened #435 "Create a library that adds RxJava support to our APIs"
Create a library that adds RxJava support to our APIs. Same way billingclient-ktx does with Coroutines

[2022-01-10 22:05] aboedo commented on #432
Hi @raghav2945!! 👋 Thanks for opening!
I'll dig into this and report back

[2022-01-11 18:52] aboedo commented on #433
Hi! 👋 Thanks for opening! I see that you also have a [ticket in our community](https://community.revenuecat.com/sdks-51/android-sdk-error-updating-purchases-errorcode-6-1035), let's keep the conversation there so it's easier to follow 👍

[2022-01-14 16:05] #433 closed

[2022-01-16 00:29] mikezliu opened #447 "Transferring Android app to another account without downtime in subscriptions"
Hi,

We're in the process of moving our Google play app to a new country, which requires opening a new account and transferring the app. I'd like to do this in a way that causes no downtime in subscriptions. Based on what I read from the thread below, it seems there will be a disruption of up to 36 hours while the new service credentials are generated.

Is it possible for Revenuecat to support som

[2022-01-16 00:31] #447 closed

[2022-01-18 00:06] raghav2945 commented on #432
Hello @aboedo ,

Any update on this issue?

[2022-01-18 09:54] vegaro commented on #432
@raghav2945 I am a bit confused by the stacktrace. Do you mind sharing a screenshot taken from Firebase? Thanks!

[2022-01-18 18:08] raghav2945 commented on #432
Sure no worries.
I'm sharing a screenshot of the issues that were recorded using Firebase.

![Screenshot from 2022-01-18 19-02-16](https://user-images.githubusercontent.com/4385611/149993411-b48d1055-549b-4602-87d1-2125c42d428d.png)
**Stack-trace**
[code]

![Screenshot from 2022-01-18 19-02-21](https://user-images.githubusercontent.com/4385611/149993416-737dc198-8933-48b7-a00b-9a22d0da806d.png)

*

[2022-01-18 19:22] beylmk commented on #432
Hey @raghav2945 thanks for providing more detail! I've been looking into the second screenshot first, the one reported from PurchaserInfo.kt.

PurchaserInfo.toString() will call Date.toString(), which down the line tries to apply some time zone rules. It looks like Android constructs the time zone based on the current Locale's resources, and the resources are somehow missing in this case...

I see

[2022-01-23 20:34] raghav2945 commented on #432
Hello @beylmk,

I apologize for the delay. Obtaining the location detail is difficult because it is not reported in the ANR reporting data over Firebase. As a result, determining GeoLocation is difficult. And, as previously stated, about the ANR. The numbers are decreasing over time and are restricted to previous versions of our application. It has been observed that upgrading **revenuecat.purchas

[2022-01-24 23:30] beylmk commented on #432
Glad to hear upgrading has helped, and please do keep us posted!

[2022-02-01 07:58] mikezliu opened #466 "[Bug] Incorrect Revenuecat behavior when using logIn"
- [ X ] I have updated Purchases SDK to the latest version
- [ X ] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [ X ] I have searched the [Community](https://community.revenuecat.com)
- [ X ] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [ X ] I have searched for [existing Github issues](https://github.co

[2022-02-02 15:22] codykerns commented on #466
Hey @mikezliu, thanks for the detailed feedback here! Just to clarify, are accounts optional for your app?

In general, we transfer receipts between user accounts that aren't connected, because we don't have a way of knowing beforehand if that new user ID (most of the time anonymous IDs for new installation, etc.) has their receipt already synced to a different user ID.

Are you able to require th

[2022-02-02 15:43] mikezliu commented on #466
Thanks for the response! Yes user accounts are optional in my app, and purchasing an item doesn’t require creating an account (from my AB tests, requiring sign in/sign up resulted in a large drop off in subscription rates).

Maybe another way is if you allowed us to tweak in what cases transfer or alias is done, or bring back the old alias method as a selectable option. I realize the new method is

[2022-02-04 03:33] tfkci opened #471 "Null Pointer Exception with HTTP Request"
- [Yes ] I have updated Purchases SDK to the latest version
- [Yes ] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [ yes] I have searched the [Community](https://community.revenuecat.com)
- [yes ] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [ yes] I have searched for [existing Github issues](https://gith

[2022-02-04 14:20] vegaro commented on #471
Thanks for opening @tfkci

Do you mind sharing the whole stacktrace?

Line 113 is:

[code]

Which there's no way produces an NPE since we are null checking... I wonder if the line is not properly being reported in the stacktrace 🤔

[2022-02-04 15:20] tfkci commented on #471
I also checked the HTTPClient class, there is no way to create a NPE.

<img width="1257" alt="image" src="https://user-images.githubusercontent.com/57030280/152554291-e2bf6d71-bfe4-47c0-8cd1-a35d011fb8dd.png">

While the issue is not reproducible on our end. I suspect Firebase Performance Plugin causes the exception while trying to measure network metrics.

[2022-02-04 16:32] vegaro commented on #471
Good thinking! Yes that's probably what's happening. This line https://github.com/firebase/firebase-android-sdk/blob/master/firebase-perf/src/main/java/com/google/firebase/perf/network/InstrHttpInputStream.java#L67 could definitely throw an NPE. Not sure how that could happen, maybe the InputStream becomes `null` between our `close` and their `close`?

[2022-02-04 16:44] tfkci commented on #471
It is hard to understand their logic, they probably try to use the inputStream after it it is closed.

[2022-02-04 21:17] codykerns commented on #466
Hey @mikezliu! Understood - thanks for the feedback here. I'm going to work on improving our documentation for handling these types of cases (optional user accounts, etc.), and detailing best practices to improve the experience as I definitely think these are valid points. I'll close this out for now, but feel free to reopen if you need to!

[2022-02-04 21:17] #466 closed

[2022-02-07 06:52] tfkci commented on #471
I created an issue on the Firebase side

https://github.com/firebase/firebase-android-sdk/issues/3406

[2022-02-08 02:08] gaodeng commented on #139
any news?

[2022-02-09 23:17] gaodeng commented on #139
any news?

[2022-02-17 01:53] raghav2945 commented on #432
Is there any news on the BillingWrapper class issue?
This has been increasing in the last several days, and it is now back in our top five ANR problems.

Could you kindly follow up with the relevant team and let us know if anything new is on the way or if we need to make any changes to our codebase in order to use your SDK?

[2022-02-17 16:42] beylmk commented on #432
Hey @raghav2945 sorry to hear the ANR is increasing. We created a ticket to implement a retry mechanism, but it hasn't yet been prioritized. Given that your numbers aren't improving anymore, I'll see what I can do to get that patch in soon. I'll report back here.

[2022-02-18 16:52] joshdholtz commented on #471
Going to close this issue since it looks like Firebase team took care of catching the potential null pointer on their side! Hit us up this issue revives itself or if anything else comes up 😊

[2022-02-18 16:52] #471 closed

[2022-02-19 18:04] NachoSoto opened #490 "Regression: `common:testDebugUnitTest` task no longer exists"
I investigated [my report a few days ago](https://github.com/RevenueCat/purchases-android/pull/444#pullrequestreview-883581383), where right-clicking a class or test to run it no longer works, and found the source of the problem.
Prior to #444 these were the tasks available:
[code]

After the PR, `testDebugUnitTest` no longer exists:

[code]

This is a problem because Android Studio defaults to `:

[2022-02-19 18:07] NachoSoto commented on #490
Possibly related, but it looks like debugging tests doesn't work either, breakpoints are never hit.

[2022-02-23 01:13] vegaro commented on #490
@NachoSoto I can run tests if doing right click in a class and even on a module in the latest `main`. I just did right click in the `google` module and ran the 76 tests inside successfully. I have the `latestDependenciesDebug` variant selected in the Build Variants window.

Sometimes Android Studio can't find tests but I've found that after a Invalidate caches and restart of Android Studio or a re

[2022-02-25 20:28] joshdholtz opened #498 "Issue within BillingClient 4.0 - SkuDetails missing freeTrialPeriod"
Google Issue Tracker 👉 https://issuetracker.google.com/issues/219799769?pli=1

There is currently an ongoing issue within BillingClient 4.0 where `freeTrialPeriod` is null which could cause issues within RevenueCat's [Purchases Android](https://github.com/RevenueCat/purchases-android).

This _does_ appear to be inconsistent and fairly rare but could still happen.

We are actively working on gettin

[2022-02-25 22:09] beylmk commented on #432
Hey @raghav2945 just a quick update -- I've got a PR with a potential fix out, and am working through some manual and unit tests today.

I also have a quick question for you: are you implementing any kind of retry if you receive an error from any RevenueCat requests? I ask because this ANR occurs when retrying a connection to the BIllingClient too soon after it disconnects. We haven't implemented

[2022-03-02 15:21] NachoSoto commented on #490
Sorry coming back to this, it's working now 🤷‍♂️

So your advice is probably what fixed it. Thank you!

[2022-03-02 15:21] #490 closed

[2022-03-09 21:41] beylmk commented on #432
Hey @raghav2945, the PR with the fix was merged! We are working on getting a release together...I'll post back here when we do.

[2022-03-09 22:22] raghav2945 commented on #432
Thank you for keeping us posted.

[2022-03-18 08:42] raghav2945 opened #508 "[ANR] [Follow-up] Reported through different file of RevenueCat/purchases-android"
Follow up ticket for : https://github.com/RevenueCat/purchases-android/issues/432#issue-1096941565

Github has locked the open issue, and I am no longer able to communicate with the team on it. So, open a new ticket while referring to the previous one.

@beylmk, The issue is still visible, and we know you dealt with it and are about to share a new SDK version for it. So this is simply a follow-up

[2022-03-18 20:06] vegaro commented on #498
I am looking into this and there's something quite interesting. This is our current code in `purchases-hybrid-common`:

[code]

According to this comment https://github.com/RevenueCat/react-native-purchases/issues/331#issuecomment-1060712979, we send something like:

[code]

If as we suspect, `introductoryPrice`, `introductoryPricePeriod` and `introductoryPriceCycles` can be returned as null by Go

[2022-03-18 20:19] vegaro commented on #498
Not only that, `introductoryPricePeriod.mapPeriod()` would give a NullPointerException if it were to be null

[2022-03-18 23:10] #432 closed

[2022-03-18 23:10] vegaro commented on #508
I will unlock the other issue and close this one so it's better organize 👍

[2022-03-18 23:10] #508 closed

[2022-03-18 23:12] vegaro commented on #432
Following up on https://github.com/RevenueCat/purchases-android/issues/508

We are about to release a new version in the next couple weeks @raghav2945. We will be releasing the fix in that version.

[2022-03-25 13:32] DarrylBaylissAtTheBodyCoach opened #510 "Purchase SDK: Subscription Dialog disappears when app is in the background"
- [ ] I have updated Purchases SDK to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [X] I have searched the [Community](https://community.revenuecat.com)
- [X] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [X] I have searched for [existing Github issues](https://github.com/RevenueC

[2022-03-28 19:35] beylmk commented on #510
Hey @DarrylBaylissAtTheBodyCoach, thanks for opening an issue, and for a potential solution :) I'll try to reproduce today and think through whether we can provide this fix on the RevenueCat side...

[2022-03-28 23:01] beylmk commented on #510
Hey @DarrylBaylissAtTheBodyCoach, I'm having trouble reproducing. I haven't found any way to force the payment authorization dialog, and the subscription dialog remains for me when backgrounding otherwise. Were you able to reproduce in debug, or do you have more info on what kinds of scenarios lead to the payment authorization request?

[2022-03-29 00:08] beylmk commented on #432
Hey @raghav2945, excited to say we have the new release out with this fix! Check out 5.0.0: https://github.com/RevenueCat/purchases-android/releases/tag/5.0.0

[2022-03-29 07:17] matteinn opened #515 "Fix link to migration guide"
- [ ] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [x] I have searched the [Community](https://community.revenuecat.com)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/RevenueC

[2022-03-29 09:04] DarrylBaylissAtTheBodyCoach commented on #510
Hey @beylmk,

Sorry to hear you're having trouble reproducing. It's a tricky one as the payment authorisation dialog only appears in a production build when the users bank / payment method requests authorisation.

Our solution for testing is to publish a Google Play app build using a test track so the Google BillingClient can access their backend. It's not 100% realistic as it's a test environment

[2022-03-29 13:21] joshdholtz commented on #515
@matteinn Oops, just took care of updating that! Really appreciate you letting us know 😊

[2022-03-29 13:21] #515 closed

[2022-03-29 22:24] beylmk commented on #510
Hey @DarrylBaylissAtTheBodyCoach, I'm unfortunately still unable to reproduce in an alpha test.

Thinking through what could be going on here... I'm wondering if perhaps it's okay that the dialog is gone, as long as the purchase still completes. Have you implemented an [UpdatedCustomerInfoListener](https://github.com/RevenueCat/purchases-android/blob/main/purchases/src/main/java/com/revenuecat/pur

[2022-03-30 16:31] DarrylBaylissAtTheBodyCoach commented on #510
Hey @beylmk,

We're almost at the point where we're ready to test our solution with a willing customer. I can keep you updated on that if its helpful?

I don't think `UpdatedCustomerInfoListener` would help in this instance, as the purchase does not complete the Google subscription dialog flow. My assumption is even if we did inform RevenueCat, Google Play would report the purchase didn't happen.

[2022-04-13 22:21] #510 closed

[2022-04-28 12:20] raghav2945 opened #524 "[ANR] Fresh ANR reported from BillingWrapper class"
With the new integeration, we start receiving a new ANR. Although it shows the same stack-trace with one method difference I observerd is `startConnectionOnMainThread`, which I can't see in previous reporting. Could you please have a look. Sharing the new stack for reference

[code]

[2022-04-28 19:48] aboedo commented on #524
hi @raghav2945! Thanks for trying out the new version and for reporting this. We'll investigate and try to figure out what's going on.

[2022-04-28 20:18] aboedo commented on #524
It looks like there might be instances where Google's `BillingClient.startConnection` simply never finishes, and that's where the connection would entirely fail.

This is nearly impossible to reproduce artificially, sadly, but we're trying to think about solutions.

It seems from Google's docs [(or the closest thing to it, sadly)](https://github.com/android/play-billing-samples/blob/8f8792fe23e343

[2022-05-04 01:02] aboedo commented on #524
@raghav2945 sounds good, let us know how it goes! Hopefully the volume remains low 🤞

[2022-05-04 06:34] thisisthekap opened #526 "NoSuchElementException AbstractQueue.remove"
We got a `NoSuchElementException` in `BillingWrapper.executePendingRequests`.

I found out, that this exception was fixed in #65. The fix was to synchronize all calls to `serviceRequests`.

Furthermore, I found out that `BillingWrapper.executeRequestOnUIThread´ does not synchronize the access to `serviceRequests` in the way other methods do. So I suggest that 2 different synchronization contexts a

[2022-05-09 05:49] thisisthekap commented on #526
Hi @aboedo!

Ah, was not aware of the missing empty check. This could definitely be the root cause.

But I still see a potential bug in the synchronization:

This one synchronizes the access by forcing it to the ui thread:

https://github.com/RevenueCat/purchases-android/blob/b3544821525febdfc25eb9359d6c8e0acc6c24f4/feature/google/src/main/java/com/revenuecat/purchases/google/BillingWrapper.kt#L12

[2022-05-17 16:01] sipersso opened #532 "Out Of Memory Error in Dispatcher.java"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [x] I have searched the [Community](https://community.revenuecat.com)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/RevenueC

[2022-05-17 23:27] limamauricio opened #534 "Android java sample for version 5.0.0"
I tried to access the sample using java, but I was redirected to a not found page. Is there in the team's planning to provide a sample using java, as was done in previous versions? Or will support for android apps that use java end?

[2022-05-18 10:59] thisisthekap commented on #526
@aboedo Are you able to provide an ETA for this fix?

[2022-05-18 18:23] aboedo commented on #526
@thisisthekap I apologize for the delay in replying, I've been out for a few days and didn't get a chance to dig further. We're digging into it now, though.

I appreciate your observations about the locking mechanisms. You may be onto something.

I'm not sure that's the issue, though, since in `executeRequestOnUIThread`, we only access the ui thread when calling `startConnectionOnMainThread`, but

[2022-05-19 07:42] pangia opened #536 "Where is the java sample app?"
Where is the java sample app?

[2022-05-19 07:43] pangia commented on #534
yes. the docs are full of bad links and circular references. we need to get our migration to the new version completed asap. please help.

[2022-05-19 15:34] joshdholtz commented on #536
@pangia Hey! All of our examples are Kotlin based right now but we should definitely have a Java example as well. I'll get this added into our queue 💪

[2022-05-19 15:58] joshdholtz commented on #534
@limamauricio Thanks for letting us know! We will remove the Java example link (for now) and add it back in when we get a new Java example up.

@pangia It would be great if you have any specific examples of links or circular references that are broken! We'd be happy to go fix them 💪 But if not, we can comb through the docs and find anything that isn't right but that might take a little bit 😇

Appr

[2022-05-19 19:12] limamauricio opened #537 "v5.0.0 and Subscriptions API"
_You are using the InAppProduct API, which is no longer updated, to manage subscriptions. Start using the new Subscriptions API to take advantage of new features such as different basic plans and offers as well as prepaid plans._

I got this warning on my console, I would like to know if the newest version already supports this new API. All the old subscriptions were migrated as "read-only" and I

[2022-05-19 19:22] aboedo commented on #537
Hi! 👋 Thanks for writing in.

We recently put out a blog post covering Google's new features and our plans to support them.
https://www.revenuecat.com/blog/google-i-o-2022-announcement/

The TL;DR: is that everything that's marked as "Backwards compatible" will continue to work, and you can edit it too. However, the new features like pre-paid top-ups and pricing phases won't be available through R

[2022-05-24 21:17] sipersso commented on #532
Looks like this will be closed automatically if I don’t bump it….. so… bump

[2022-05-24 21:19] aboedo commented on #532
hey @sipersso!! 👋 Thanks for bumping, I'm sorry we missed this ticket! We'll look into it

[2022-05-24 21:21] sipersso commented on #532
Thanks @aboedo 😀

[2022-05-26 19:23] vegaro commented on #532
Hi @sipersso ,

I've looked into this a bit and it doesn't seem like we are leaking anything or doing anything that would increase memory usage indiscriminately, so I am a little lost here and I am not sure where else to look.

One thing I wanted to mention though is that our library shares memory with your app, so it's possible there's something in your app that is increasing the memory? It's def

[2022-05-31 18:25] aboedo opened #541 "test issue"
- [ ] I have updated Purchases SDK to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [ ] I have searched the [Community](https://community.revenuecat.com)
- [ ] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [ ] I have searched for [existing Github issues](https://github.com/RevenueC

[2022-05-31 18:51] aboedo commented on #541
test successful! closing

[2022-05-31 18:51] #541 closed

[2022-06-01 07:27] thisisthekap commented on #526
@aboedo Any news on this one?

[2022-06-01 20:02] vegaro commented on #536
I just wanted to add more context here. We had some discussions about the Java sample app and we are not going to prioritize it at the moment.

We removed the Java project from the repository because it didn't represent a real usage of our SDK like the Kotlin MagicWeather sample app does.

We think the Kotlin sample together with the Java code samples we have in our [docs](https://docs.revenuecat.

[2022-06-02 16:09] aboedo commented on #537
@limamauricio I'm tentatively closing this issue, but let us know if you have any more questions!

[2022-06-02 16:09] #537 closed

[2022-06-08 12:33] #524 closed

[2022-06-09 22:54] #532 closed

[2022-06-12 16:37] Noiling commented on #534
All links [here](https://docs.revenuecat.com/docs/getting-started-1#section-configure-purchases) under "see in action" are broken.

[2022-06-13 14:05] aboedo commented on #534
Thanks for reporting! I can confirm that the links are broken, we'll get those fixed this week. @beylmk or @vegaro any thoughts on what might be causing the compilation issues?

[2022-06-13 22:30] beylmk commented on #534
Hey @Noiling can you elaborate on the compilation issues you're facing?

Can you successfully complete a gradle sync after adding the purchases-android dependency? Our library does require Java 8.

[2022-06-14 19:25] beylmk commented on #534
Ah, thanks for the details. You're right, our Quickstart docs for Java are out of date. Thanks for alerting us -- I'll work on getting those fixed now.

For the method you posted, you can instead use:
[code]

[2022-06-14 19:39] beylmk commented on #534
@Noiling All of the Java examples on that page should be updated now... please let me know if you run into any issues with them!

[2022-06-14 19:53] Noiling commented on #534
Ok, than I will have to wait. But one last question, in your provided code, I cannot use "toPurchase" (unknown). Thanks again.

[2022-06-14 20:20] beylmk commented on #534
The edits should be live -- were you not seeing them?

`toPurchase` would be the package that you'd like to purchase. I've updated the parameter name to be more clear. The packages available to purchase are returned in `getOfferings`, under the `offering.availablePackages` property.

[2022-06-15 18:21] Noiling commented on #534
If I take a look under "Making a purchase" inside the docs, I still see the old code.

Also, I receive an error message for your purchase code (I added the purchase as you stated):

[code]

Error says: Cannot resolve method 'purchasePackage(com.appentwicklungseevetal.combapu.purchase.revenueCat, com.revenuecat.purchases.Package, anonymous com.revenuecat.purchases.interfaces.PurchaseCallback)'

[2022-06-15 18:47] Noiling commented on #534
Thank you, that solved my problem ;)

[2022-06-22 15:34] kunal228 opened #551 "App crashing on start. Issue started after integrating RevenueCat Version 5.1.1 with Android Billing Client version : 5.0.0."
- [ ] I have updated Purchases SDK to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [ ] I have searched the [Community](https://community.revenuecat.com)
- [ ] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [ ] I have searched for [existing Github issues](https://github.com/RevenueC

[2022-06-27 19:14] aboedo commented on #526
@thisisthekap I'm closing this issue due to inactivity, but feel free to reopen if you're still running into issues!

[2022-06-28 05:23] raghav2945 opened #553 "[ANR] Fresh ANR reported from BillingWrapper class"
_Originally posted by @aboedo in https://github.com/RevenueCat/purchases-android/issues/524#issuecomment-1112617562_

We have a value to report now that adoption is at its peak. It is close to 400 counts in the last 7 days for only two versions. I believe you should revisit this with your team to see if they can find a workaround.

[2022-06-29 13:40] aboedo commented on #553
@raghav2945 Thanks for reporting back!! We'll take another look

[2022-06-29 19:25] aboedo commented on #553
[ticket for internal reference](https://revenuecats.atlassian.net/browse/CSDK-302)

[2022-07-04 13:07] UlyssesAlves commented on #383
In my view, this looks like to be an Apple issue, pretty unrelated to RevenueCat.

In this sense, I think one solution would be just sending the user to Apple's subscription page and forget about it. The user would then try to solve his problem with Apple. Also, Apple's purchase receipt contains instructions on how the user can manage his subscriptions, which again sends the user to the same Apple

[2022-07-04 14:40] aboedo commented on #383
Thanks for sharing your thoughts, @UlyssesAlves, I agree.
It really seems crazy that subscription management is just not possible under some circumstances.
FWIW, filing feedbacks for Apple might be useful in getting it prioritized and fixed on their side.

[2022-07-07 19:31] aboedo commented on #551
@kunal228 I'm tentatively closing this ticket, but let me know if you run into any other issues.
Also, we've updated our android docs to include a note about Billing Client 5 and the new subscriptions model. You can see the [updated docs here](https://docs.revenuecat.com/docs/android-products).
Have a great day!

[2022-07-07 19:31] #551 closed

[2022-07-10 20:21] raghav2945 commented on #553
@aboedo, Is there any new update on this? We need to tag our local issue with our release plan; could you please share some plans for its resolution? We must plan accordingly. Thanks !!!

[2022-07-11 19:55] raghav2945 commented on #553
Thank you so much for @aboedo, for keeping us updated; we greatly appreciate your help. I'll be waiting for more information on the release. I'm hoping that this fix will solve the problem.

[2022-07-14 18:09] thanhduy26091995 opened #565 "Flag isActive still true even cancel subscription from Google Play Store"
- [ x] I have updated Purchases SDK to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- [x ] I have searched the [Community](https://community.revenuecat.com)
- [x ] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x ] I have searched for [existing Github issues](https://github.com/Rev

[2022-07-14 19:18] vegaro commented on #565
@thanhduy26091995 first of all, thanks for pointing that out about ProcessLifecycle observer, we'll get that updated.

Regarding `isActive`. This is the logic we use to determine if the entitlement is active:

[code]

You will notice that we are comparing against `expirationDate` against `requestDate` and not always against today's date. The reason for this comparison is that we cache the `Custome

[2022-07-14 20:02] raghav2945 commented on #553
Thank you @aboedo for keeping us updated; we will use it and let you know if we run into any problems. Thank you for your prompt assistance.

[2022-07-14 20:02] #553 closed

[2022-07-16 03:49] thanhduy26091995 commented on #565
hi @vegaro

Thanks for your replying.
I understood your scenario

I tried version 5.2.0 with cachingPolicy. So every time open app, I force SDK call from network (CacheFetchPolicy.FETCH_CURRENT), and it's working fine.

But if I don't use force update (CacheFetchPolicy.FETCH_CURRENT), I found that isActive is still flag to true
I checked CustomerInfo object, field "`expiresDate`" is `Fri Jul 15 15

[2022-07-18 08:24] vegaro commented on #565
If you don't force update the purchaser info in production it's possible that your users open the app and use a cached customer info that shows they are premium because it's an old customer info that was fetched when the subscription was still active (that's what you're seeing in the response you sent). That customer info will be tried to be updated (if the cache is older than 5 minutes) when the

[2022-07-18 09:01] duybuikardiachain commented on #565
That customer info will be tried to be updated (if the cache is older than 5 minutes) when the app is foregrounded and during configuration of the SDK => I tried to put app in foreground over 5 mins, tried close app and open again, flag `isActive` still true event it's already expired. Noted that, this case I'm not force get purchased info from server

Have you configured the UpdatedCustomerInfoLi

[2022-07-18 09:02] thanhduy26091995 commented on #565
That customer info will be tried to be updated (if the cache is older than 5 minutes) when the app is foregrounded and during configuration of the SDK => I tried to put app in foreground over 5 mins, tried close app and open again, flag `isActive` still true event it's already expired. Noted that, this case I'm not force get purchased info from server

Have you configured the UpdatedCustomerInfoLi

[2022-07-19 20:22] beylmk commented on #565
`Yes, I already handle this interface, If I force, I will receive a response from this callback` -- what do you mean by "if I force?" Are you saying that this listener doesn't get an update at all when you don't set `FETCH_CURRENT`?

With `CACHED_OR_FETCHED`, the default when you aren't setting `FETCH_CURRENT`, the getCustomerInfo function  ```returns the cached data if available (even if stale).

[2022-07-19 22:16] beylmk commented on #565
@thanhduy26091995 I confirmed I don't see this in the sample app...if my explanation above doesn't explain what's happening for you, would you mind attaching some debug logs? You can enable them with `Purchases.debugLogsEnabled = true` before configuring.

[2022-07-29 19:15] taquitos commented on #160
Hiya, this issue is pretty old now, and there has been a lot of changes since it was opened. In this case, I think rkotzy answered the question. I'm going to close this out, but feel free to open a new issue with any other bugs you suspect! Also if you have general questions, you should reach out in our community- you'll get a faster response there, too! See https://github.com/RevenueCat/purchases

[2022-07-29 19:16] #160 closed

[2022-07-29 21:50] taquitos opened #575 "Test"
Testing

[2022-07-29 21:58] taquitos commented on #575
Imported to [SDKONCALL-68]

[2022-07-29 23:29] taquitos commented on #227
Still working on the best way to surface our work in GitHub and help folks like you find fun things to contribute! I'm going to close this for now. I've made note of it and we'll prioritize sharing more in the future [CSDK-356].

[2022-07-29 23:29] #227 closed

[2022-07-29 23:34] taquitos commented on #434
[CSDK-14]

[2022-07-29 23:35] taquitos commented on #498
@joshdholtz are there any updates here? I don't have permission to view the linked buginizer 😿

[2022-07-29 23:37] #534 closed

[2022-07-29 23:37] taquitos commented on #534
Docs updated and problems solved! 🎉

[2022-08-01 17:33] taquitos commented on #161
@ubuntudroid I don't know if you've seen it, but we added a cache policy object that allows you to configure the behavior now! https://github.com/RevenueCat/purchases-android/pull/546
I'm going to close this issue, but definitely feel free to open another if needed!
Thank you for your patience, I know this is an older issue 😄

[2022-08-01 17:33] #161 closed

[2022-08-03 09:22] #565 closed

[2022-08-05 11:28] raghav2945 opened #580 "[ANR] Fresh ANR reported from BillingWrapper classes"
@raghav2945 Update: release 5.2.0 is out with the fix! 🎉
Try it out!
https://github.com/RevenueCat/purchases-android/releases/tag/5.2.0

_Originally posted by @aboedo in https://github.com/RevenueCat/purchases-android/issues/553#issuecomment-1183202546_

[2022-08-05 11:31] raghav2945 commented on #580
This is a follow-up ticket to the one that was previously closed #553.

The problem is still present. I'm including the most recent stack trace for reference. We are using the most recent SDK from your end. We recently upgraded from 5.2.1 to 5.4.0.

[code]

[2022-08-05 17:16] aboedo commented on #580
@raghav2945 thanks for reporting. This is honestly frustrating, but I'm not sure there's more we can do on our side to address this crash happening on Google's Billing Client.
We're working on getting answers from Google w/regards to the crash, and we're also working to migrate to Billing Client 5.0, which might already fix this issue.

We'll keep this issue posted until we know more.

[2022-08-05 18:43] raghav2945 commented on #580
Obviously @aboedo, I understand how annoying and frustrating it will be for you; we feel the same way. We sincerely appreciate your ongoing assistance with this issue. Sure, let's wait for Google's response or the Billing Client 5.0 migration. We'll mark this comment as a note in our internal ticket, and I'll try to post some follow-up messages on this issue so it doesn't get closed by Github.

[2022-08-26 20:12] mdmota commented on #161
I don't know if it has anything to do with the discussion. I have a problem with the following flow. My app needs login to be a subscriber.
After logging in and subscribe everything works normally.
If I clear the app's cache and open it again and sign in, PurchaserInfo doesn't come with active subscriptions.
If I uninstall and reinstall the app, I log in also does not come with active subscription

[2022-08-26 22:06] mdmota commented on #161
ok , i

Em sex., 26 de ago. de 2022 às 18:57, Andy Boedo ***@***.***>
escreveu:

[2022-08-28 22:00] raghav2945 commented on #580
Hello @taquitos @aboedo, Just a friendly follow-up.

I can now see few new releases. Does this contain the migration-related changes that we discussed in the comment above? Recently, we had already upgraded to version - `5.4.1 to 5.6.0 `. Do you think the new version may contribute to a decrease in the ANR count.

[2022-08-29 20:54] vegaro commented on #580
@raghav2945 We are still working on that BillingClient 5.0 migration and we haven't publicly released any of the changes. We also have not made any other fix regarding this ANR, so there shouldn't be any changes on the ANR count.

Sorry we haven't made any progress here. Thanks for your patience regarding this issue.

[2022-08-30 16:31] raghav2945 commented on #580
Thank you for keeping us posted.

[2022-10-02 02:58] KevinColemanInc commented on #82
@vegaro Can you link to the documentation describing how to add support for this or does the problem just go away (e.g. `.purchase` does not return until after the delayed payment is finished)?

[2022-10-06 13:39] mattrob33 opened #637 "Add com.android.vending.BILLING to Manifest"
The Play Billing library [embeds](https://developer.android.com/google/play/billing/release-notes#important-changes-1_0) the required `com.android.vending.BILLING` permission in the manifest, ensuring that it is included in the app's final merged manifest.

If I include the Play Billing library directly then I do not need to manually add the permission. But if I use RevenueCat instead, then I do n

[2022-10-06 16:32] vegaro commented on #637
I just tried in a new project, and adding `implementation 'com.revenuecat.purchases:purchases:5.6.1'`, adds an entry in the merged manifest:

<img width="1094" alt="Screen Shot 2022-10-06 at 6 32 00 PM" src="https://user-images.githubusercontent.com/664544/194368628-4b08e882-867a-43bc-ba49-7d8c897929c7.png">

Are you adding the library using `implementation`?

[2022-10-06 17:59] mattrob33 commented on #637
Ah thanks, good to know. It looks like this may be an issue with including RevenueCat in a library module within my project then. I have a `feature/subscriptions` module which adds the RevenueCat dependency, and then I include that module in my `app` module. I just came across [this in the docs](https://developer.android.com/studio/build/manage-manifests#merge-policies):

[2022-10-07 11:05] vegaro commented on #637
Yes, that happens for us with the Ads library. We have a dependency on it only in one of the modules, and since it's not the main module of the library, apps don't get the permission, which is actually a good side effect in that case lol

[2022-10-07 18:35] mattrob33 commented on #637
Ok this looks like it's on my end then, so this issue can be closed I believe. Thanks for your help!

[2022-10-07 18:35] #637 closed

[2022-10-13 20:00] mattrob33 opened #642 "Support ".debug" applicationIdSuffix"
Looking through the SDK, it looks like the application package name must exactly match the name provided in the RevenueCat dashboard. This makes sense, but it breaks the common practice of using Android’s `applicationIdSuffix` to install a debug version alongside of a release version, which is a really useful feature.

Is it currently possible to manually specify an application package name rather

[2022-10-21 09:45] RuslanTimkov opened #653 "Free trial not showing in payment sheet"
- I have updated Purchases SDK to the latest version(**5.6.3**)
- I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-android/blob/main/CONTRIBUTING.md)
- I have searched the [Community](https://community.revenuecat.com)
- I have read [docs.revenuecat.com](https://docs.revenuecat.com/)

**Describe the bug**
I’ve configured a Free Trial offer on both Monthly and Yearly

[2022-10-21 13:24] aboedo commented on #653
@RuslanTimkov Google's paywall does signal that your user isn't eligible for a free trial. This could be the case if you've already purchased a free trial for this product with this test user. More info available in our [Ultimate Guide to Android Testing](https://www.revenuecat.com/blog/the-ultimate-guide-to-android-subscription-testing/) article

[2022-10-21 20:09] codykerns commented on #642
Hey @mattrob33! Thanks for the request - since the package name is required to match what's in Google Play when fetching and validating products/purchases, I'm not sure if this is possible right now. That being said, I'll share this with the team so it's on their radar!

[2022-10-21 20:09] #642 closed

[2022-10-24 09:30] #653 closed

[2022-10-24 14:58] mattrob33 commented on #642
Thanks @codykerns. Since `applicationIdSuffix` as an [officially supported feature](https://developer.android.com/studio/build/build-variants#build-types) of the Android Gradle Plugin, it would be really nice to have this supported, where RevenueCat could just strip off a trailing `applicationIdSuffix` value from the package name. So `com.company.app.debug` with an `applicationIdSuffix` of `debug`

[2022-11-30 13:44] Maradox commented on #139
Could you please provide an update for this issue? The only workaround is to use observer-mode but then the app has to implement billing on its own for purchasing.